[
{kernel, [
  %{error_logger, {file, "c:/app/synchronizer/priv/log/kernel.log"}}
]},
{sasl, [
  {sasl_error_logger, {file, "c:/app/synchronizer/priv/log/sasl.log"}},
  {errlog_type, all}
]},
{synchronizer, [
  {client_name, "johnson-pc"},

  {ssh_server, "192.168.1.10"},
  {ssh_port, 22},
  {ssh_user, "root"},
  {ssh_password, "root"},

  {remote_folder, "/data/sync"},
  {local_folder, "D:/_backup/sync"},

  {keep_local_files, false},

  {sender_email, "email1@163.com"},
  {sender_email_password, "pwd"},
  {receiver_email, "email2@139.com"},

  {wait_before_first_run, 1}, % in seconds
  {wait_after_error_occur, 1800}, % in seconds, =30 min
  {run_interval, 28800}, % in seconds, =8hr

  {output_debug, true}
]}
].
